<!DOCTYPE html>
<html>
<head>
    <title>Medical Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="dashboard">

    <div class="left-panel">

        
        <h3>📂 Uploaded Documents</h3>

<ul>
{% for file in files %}
    <li>📄 {{ file }}</li>
{% endfor %}
</ul>

        <div class="info-card">

    {% if pdf_uploaded %}
        <p>✅ PDF Uploaded</p>
    {% else %}
        <p>❌ PDF Uploaded</p>
    {% endif %}

    {% if faiss_ready %}
        <p>✅ FAISS Indexed</p>
    {% else %}
        <p>❌ FAISS Indexed</p>
    {% endif %}

    <p>✅ LLM Connected</p>

</div>
        <div id="sidebar">

    <h3>🕘 Chat History</h3>

    <ul id="historyList">
    </ul>
    <button onclick="clearHistory()">
🗑 Clear History
</button>
</div>
    </div>

    <div class="right-panel">

        <h2>🤖 Medical AI Assistant</h2>

        <input
            type="text"
            id="question"
            placeholder="Ask a medical question..."
        >

        <button onclick="askQuestion()">
            Ask
        </button>

        <div class="result-card">

            <details>

    <summary><h3>
        📄 Retrieved Context</h3>
    </summary>

    <pre id="context"></pre>

</details>
        </div>

        <div class="result-card">

    <h3>🤖 Generated Answer</h3>

    <div
        id="loader"
        style="display:none"
    >
        ⏳ Generating response...
    </div>

    <div id="answer"></div>
        </div>
   <button
        id="downloadBtn"
        onclick="downloadReport()"
    >
        📥 Download Report
    </button>

</div>

</div>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>