<!DOCTYPE html>
<html>
<head>
    <title>Medical Information Chatbot</title>
</head>
<body>

    <h1>Medical Information Chatbot</h1>

    <!-- PDF Upload -->
    <input type="file" id="pdfFile">

    <button onclick="uploadPDF()">
        Upload PDF
    </button>

    <div id="status"></div>

    <hr>

    <!-- Chat -->
    <input
        type="text"
        id="question"
        placeholder="Ask a medical question..."
        style="width:400px;"
    >

    <button onclick="askQuestion()">
        Ask
    </button>

    <br><br>

    <div
    id="answer"
    style="
        margin-top:20px;
        padding:15px;
        border:1px solid #ccc;
        white-space:pre-wrap;
        border-radius:10px;
    ">
</div>

    <script src="/static/script.js"></script>

</body>
</html>